{% load static %}
<div class="container-fluid blog py-5 my-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Our Blog</h5>
            <h1>Latest Blog & News</h1>
        </div>
        <div class="row g-5 justify-content-center">
            {% for blog in blogs %}
            <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
                <div class="blog-item position-relative bg-light rounded">
                    <img src="{{ blog.image.url }}" class="img-fluid w-100 rounded-top" alt="">
                    <span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">{{ blog.category }}</span>
                   
                    <div class="blog-content text-center position-relative px-3" style="margin-top: -25px;">
                        <img src="{{ blog.author_image.url }}" class="img-fluid rounded-circle border border-4 border-white mb-3" alt="">
                        <h5 class="">{{ blog.author }}</h5>
                        <span class="text-secondary">{{ blog.date_published }}</span>
                        <p class="py-2">{{ blog.content }}</p>
                    </div>
                    <div class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
                        <a href="" class="text-white"><small><i class="fas fa-share me-2 text-secondary"></i>Narrow Teach</small></a>
                        <a href="" class="text-white"><small><i class="fas fa-share me-2 text-secondary"></i>IT Company</small></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
