{% extends "base.html" %}
{% load static %}

{% block content %}
{% if message %}
<script>
alert('{{message}}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
        <!-- Carousel Start -->
        <div class="container-fluid px-0">
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="{% static 'img/carousel-1.jpg' %}" class="img-fluid" alt="First slide">
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                                <h6 class="text-secondary h4 animated fadeInUp">Best IT Solutions</h6>
                                <h1 class="text-white display-1 mb-4 animated fadeInRight">An Innovative IT Solutions Agency</h1>
                                <p class="mb-4 text-white fs-5 animated fadeInDown">Empowering businesses with cutting-edge technology
                                     solutions is our passion at Best IT Solutions. Our team of experts is 
                                     dedicated to providing innovative strategies
                                     and seamless integration to help your business thrive in today's digital landscape</p>
                                <a href="{% url 'index' %}" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                                <a href="{% url 'contact' %}" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/carousel-2.jpg' %}" class="img-fluid" alt="Second slide">
                        <div class="carousel-caption">
                            <div class="container carousel-content">
                                <h6 class="text-secondary h4 animated fadeInUp">Best IT Solutions</h6>
                                <h1 class="text-white display-1 mb-4 animated fadeInLeft">Quality Digital Services You Really Need!</h1>
                                <p class="mb-4 text-white fs-5 animated fadeInDown">With Best IT Solutions by your side, you can trust that your technology 
                                    infrastructure is in good hands. Let us help you unlock your business's full potential and achieve new levels of success. Contact us today to learn more about how we can support your growth journey.</p>
                                <a href="{% url 'index' %}" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                                <a href="{% url 'contact' %}" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Fact Start -->
        {% include 'fact.html' %}

        <!-- Fact End -->


        <!-- About Start -->
        {% include 'about_us_part.html' %}

        <!-- About End -->


        <!-- Services Start -->
        {% include 'service_part.html' %}

        <!-- Services End -->


        <!-- Project Start -->
        {% include 'project_part.html' %}
        <!-- Project End -->


        <!-- Blog Start -->
        {% include 'blog_part.html' %}
        <!-- Blog End -->


        <!-- Team Start -->
        {% include 'team_member_part.html' %}
        <!-- Team End -->

        <!-- Testimonial Start -->
        {% include 'testimonial_part.html' %}

        <!-- Testimonial End -->


        <!-- Contact Start -->
        {% include 'contact_part.html' %}

        <!-- Contact End -->

    </body>
    {% endblock %}

</html>

