
{% load static %}

<div class="container-fluid project py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Our Project</h5>
            <h1>Our Recently Completed Projects</h1>
        </div>
        <div class="row g-5">
            {% for project in projects %}

            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="{{ project.image.url }}" class="img-fluid w-100 rounded" alt="">
                        <div class="project-content">
                            <a href="#" class="text-center">
                                <h4 class="text-secondary">{{ project.text1 }}</h4>
                                <p class="m-0 text-white">{{ project.text2 }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            
            
        </div>
    </div>
</div>